@import "./normalize.css";

:root {
  /* 颜色 */
  --color-text: #000;
  --color-label: #fff;
  --color-hyper: #3283d8;
  --color-active: #0077D3;
  --color-inactive:#ccc;
  --color-alarm: #f80000;
  --color-warn: #ffa101;
  --color-normal: #009944;
  /* 背景颜色 */
  --bgcolor: #fff;
  --bgcolor-wall: #f7f7f7;
  --bgcolor-hover: #d1e0ff;
  /* 字体大小 */
  --font-size-small: 14px;
  --font-size: 16px;
  --font-size-h1: 26px;
  --font-size-h2: 20px;
  /* 字体 */
  --font-family: PingFang SC;
  /* 选项卡 */
  --bgcolor-tabbar: rgba(0,119,211,1);
  /* 表格 */
  --bgcolor-table: var(--bgcolor);
  --bgcolor-th: #63BBFF;
  --border-table: #d1e0ff;
  /* 按钮 */
  --btn-width: 80px;
  --btn-height: 34px;
  --btn-width-small: 60px;
  --btn-height-small: 26px;
}

.font-bold{
  font-weight: bold;
}

/***********************************工具图标***********************************/
/*按钮*/
button{
  background-color: var(--color-active);
  border: 1px solid var(--color-active);
  height: var(--btn-height);
  min-width: var(--btn-width);
  text-align: center;
  font-size: var(--font-size);
  color: var(--color-label);
  border-radius: 4px;
  cursor: pointer;
}
button.sm-btn{
  height: var(--btn-height-small);
  min-width: var(--btn-width-small);
  font-size: var(--font-size-small);
}
button.grey-btn{
  background-color: var(--color-inactive);
  border: 1px solid var(--color-inactive);
}
/*单选或复选框*/
input[type='checkbox']{
  width: 16px;
  height: 16px;
}
/*下拉箭头*/
.arrow-icon{
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: var(--color-label);
  cursor: pointer;
}
/*带标签单选框*/
.check-label{
  font-size: var(--font-size);
  user-select: none;
  cursor: pointer;
}
.check-label input[type='checkbox']{
  vertical-align: middle;
  margin-right: -3px;
}
/*表单项*/
.form-item-div{
  font-size: var(--font-size);
  height: 36px;
  color: #666666;
  padding: 0px 20px;
}
.form-item-div label{
  padding-right: 10px;
  text-align: right;
}
.form-item-div input{
  width: 200px;
  height: 26px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 16px;
  border:1px solid rgba(204,204,204,1);
  color: #666666;
}

/*************************************弹窗*************************************/
.modal-bg{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.modal-container{
  font-size: 16px;
  background: var(--bgcolor);
  border:1px solid rgba(0,119,211,1);
  box-shadow:0px 3px 7px 0px rgba(0,119,211,0.33);
  border-radius:4px;
}
.modal-head{
  height: 40px;
  line-height: 40px;
  color: var(--color-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.modal-title{
  font-weight: 400;
  font-size: var(--font-size-small);
}
.modal-close{
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
  font-weight: 400;
  cursor: pointer;
}
.modal-close:hover{
  border: 1px solid var(--color-active);
}
.modal-body{
  width: 100%;
  font-size: var(--font-size);
  min-height: 60px;
}
.modal-foot{
  height: 50px;
  width: 100%;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-foot button{
  margin-left: 10px;
  margin-right: 10px;
}
/***********************************带检索下拉选择***********************************/
.select{
  display: flex;
  flex-direction: column;
  z-index: 200;
  position: absolute;
  top: 0px;
  left: 0px;
  width: inherit;
  background: #fff;
  margin: 0px;
  padding: 0px;
}
.cb-ipt-div{
  width: inherit;
  height: inherit;
}
.cb-ipt-div input{
  font-size: 16px;
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background: #D1E0FF;
  text-align: center;
}
.select ul{
  margin: 2px 0px 0px 0px;
  padding: 0;
  border: 1px solid #597DD2;
  background: #fff;
  list-style-type: none;
  width: fit-content;
  min-width: 100%;
  max-width: 150%;
  min-height: 150px;
  overflow-y: auto;
}
.select ul>li{
  padding: 0px 3px;
  font-size: 16px;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
  cursor: default;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
.select ul>li:hover{
  background: #D1E0FF;
}