@import "./normalize.css";

:root {
  /* 颜色 */
  --color-text: #000;
  --color-label: #fff;
  --color-hyper: #3283d8;
  --color-active: #0077D3;
  --color-inactive:#ccc;
  --color-alarm: #f80000;
  --color-warn: #ffa101;
  --color-normal: #009944;
  /* 背景颜色 */
  --bgcolor: #fff;
  --bgcolor-wall: #f7f7f7;
  --bgcolor-hover: #d1e0ff;
  /* 字体大小 */
  --font-size-small: 14px;
  --font-size: 16px;
  --font-size-h1: 26px;
  --font-size-h2: 20px;
  /* 字体 */
  --font-family: PingFang SC;
  /* 选项卡 */
  --bgcolor-tabbar: rgba(0,119,211,1);
  /* 表格 */
  --bgcolor-table: var(--bgcolor);
  --bgcolor-th: #63BBFF;
  --border-table: #d1e0ff;
  /* 按钮 */
  --btn-width: 80px;
  --btn-height: 34px;
  --btn-width-small: 60px;
  --btn-height-small: 26px;
}

.font-bold{
  font-weight: bold;
}